.glonavi-symbol-anchor-gaia {
  display: inline-block;
  line-height: 48px;
  width: 48px;
  height: 48px;
  text-align: center;
}

.glonavi-symbol-anchor-gaia:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.glonavi-symbol-anchor-react {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  text-decoration: none;
}

.glonavi-symbol-anchor-react:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.glonavi-emoji-button {
  color: transparent;
  text-shadow: 0 0 0 #888888;
  font-size: 24px;
}

.glonavi-image-button {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert() brightness(0.534);
}
