body {
  text-align: center;
  background-color: #2a2c2f;
  color: white;
  font-size: 16px;
  font-family: sans-serif;
}

/* anchor list */
.hidden {
  display: none;
}

.anchor-list-div {
  margin: 40px auto;
  padding: 12px;
  width: 500px;
  text-align: left;
  background-color: #36373b;
  border-radius: 8px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
}

.title-p {
  margin-top: 0;
}

.no-anchor-p {
  margin-left: 8px;
  margin-bottom: 0;
  color: #a9adb3;
}

.anchor-list {
  margin: 0;
  padding-left: 0;
  position: relative;
}

.anchor-item {
  display: inline-flex;
  width: 100%;
  align-items: center;
  border: 1px solid #72767b;
  border-radius: 8px;
}

.anchor-item:not(:last-child) {
  margin-bottom: 8px;
}

.anchor-item p {
  margin: 8px;
}

.anchor-clone {
  visibility: hidden;
}

.anchor-grasp {
  position: absolute;
  z-index: 1;
  cursor: grabbing;
  background-color: #36373b;
  box-shadow: 0 0 10px 2px #00000026;
  box-sizing: border-box;
}

.grasp-area {
  display: block;
  margin: 0 8px;
  width: 20px;
  height: 32px;
  cursor: grab;
  background-color: #a9adb3;
  border-radius: 4px;
  user-select: none;
}

.anchor-emoji {
  margin: 4px;
  width: 24px;
  height: 24px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  user-select: none;
  color: transparent;
  text-shadow: 0 0 0 #888888;
}

.anchor-image {
  margin: 4px;
  width: 24px;
  height: 24px;
  user-select: none;
  filter: brightness(0) invert() brightness(0.534);
}

.anchor-url {
  width: 340px;
  word-break: break-all;
  color: #a9adb3;
}

.delete-button {
  margin: 8px;
  padding: 4px 16px;
  min-width: 61px;
  color: #97c1fc;
  background-color: transparent;
  border: 1px solid #72767b;
  border-radius: 4px;
}

.delete-button:hover {
  background-color: #3f444c;
}

.append-anchor-div {
  margin: 16px auto;
  padding: 12px;
  width: 500px;
  text-align: left;
  background-color: #36373b;
  border-radius: 8px;
  box-shadow: 0 0 10px 5px #00000060;
}

.append-anchor-div p:first-child {
  margin-top: 0;
}

.sub-title {
  margin-top: 20px;
  margin-bottom: 8px;
}

/* radio button */
input[type="radio"] {
  display: none;
}

.radio-text:before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-left: 8px;
  margin-right: 6px;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  padding: 2px;
  background-clip: content-box;
}

input[type="radio"]:not(:checked) + .radio-text:before {
  border-color: #888888;
}

input[type="radio"]:checked + .radio-text {
  color: #97c1fc;
}

input[type="radio"]:checked + .radio-text:before {
  border-color: #97c1fc;
  background-color: #97c1fc;
}

/* input emoji */
.emoji-div {
  margin-top: 8px;
  margin-left: 8px;
  display: flex;
  align-items: center;
  height: 80px;
}

.input-emoji {
  padding: 8px 8px;
  width: 56px;
  height: 56px;
  font-size: 48px;
  text-align: center;
  border-radius: 4px;
}

.arrow {
  margin-left: 16px;
  margin-right: 16px;
  font-size: 32px;
  color: #888888;
}

.emoji-preview {
  padding: 8px 8px;
  width: 56px;
  height: 56px;
  color: transparent;
  text-shadow: 0 0 0 #888888;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  user-select: none;
  border: 2px solid #72767b;
  border-radius: 4px;
}

/* input image */
.image-div {
  margin-top: 8px;
  margin-left: 8px;
  display: flex;
  align-items: center;
  height: 80px;
}

.image-preview {
  padding: 8px 8px;
  width: 56px;
  height: 56px;
  user-select: none;
  border: 2px solid #72767b;
  border-radius: 4px;
  object-fit: contain;
  filter: brightness(0) invert() brightness(0.534);
}

/* input url */
.input-url {
  margin-left: 8px;
  padding: 4px 8px;
  font-size: 16px;
  width: calc(100% - 8px);
  box-sizing: border-box;
  border-radius: 4px;
}

/* input tooltip */
.input-tooltip {
  margin-left: 8px;
  padding: 4px 8px;
  font-size: 16px;
  width: calc(100% - 8px);
  box-sizing: border-box;
  border-radius: 4px;
}

/* add anchor button */
.append-button-div {
  margin-top: 12px;
  width: 100%;
  text-align: right;
}

.append-button {
  margin-left: auto;
  padding: 4px 16px;
  min-width: 61px;
  color: #97c1fc;
  background-color: transparent;
  border: 1px solid #72767b;
  border-radius: 4px;
}

.append-button:hover {
  background-color: #3f444c;
}
